.hero-banner{
    background-image: url(/assets/Banner_image.png);
    height: 484px;
    background-repeat: no-repeat;
 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px, 4vw ,70px)
}
.hero-content > a{
    color: var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding: 16px;
}
 
 
.home-testimonials{
    background-color: var(--yellow);
    padding: 8px;
    border-bottom: 1px solid black;
 
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.h-testimonial{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 2px solid var(--red);
    color: var(--text-white);
    padding-right: 8px;
    align-items: center;
}
.t-rating{
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 16px 16px 0px;
}
.t-text{
    padding-top: 8px;
    padding-bottom: 8px;
}
 
.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    > h1 {
        text-decoration: underline;
    }
}
.benefit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 90%;
    max-width: 600px;
}
.benefit-box {
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    > h1 {
        text-decoration: underline;
        margin-bottom: 12px;
    }
}

.benefit-box.wide {
    grid-column: span 2;
}

.yellow{
    background-color: var(--yellow);
    border-radius: 0px 0px 128px 128px;
}
.cream-bg{
    background-color: var(--cream);
}
.blue{
    background-color: rgb(160, 198, 203);
    border-radius: 128px 128px 0px 0px;
}

.bullet {
    display: flex;
    border-radius: 32px 4px 4px 32px;
    border: 1px solid var(--text-black);
    margin-bottom: 10px;
    width: 270px;
}

.bullet-nr {
    width: 25px;
    border-right: 3px solid var(--text-black);
}

.bullet-text {
    text-align: left;
    padding-left: 10px;
}

.bullet2 {
    display: flex;
    border-radius: 32px 4px 4px 32px;
    border: 1px solid var(--text-black);
    margin-bottom: 10px;
    width: 500px;
}

.step-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.home-section {
    flex-wrap: wrap;
}

.box {
    border: 2px solid var(--blue-light);
    border-radius: 8px;
    padding: 16px;
    > p {
        margin: 0;
    }
    cursor: pointer;
}
.box:hover {
    box-shadow: 2px 2px 5px gray;
}

.adopt-btn {
    background-color: var(--text-black);
    color: var(--text-white);
    border: none;
    border-radius: 32px;
    padding: 16px 32px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}
.adopt-btn:hover {
    background-color: gray;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.image {
    width: 170px;
    height: auto;
}
.image2 {
    width: 170px;
    height: 170px;
    filter: drop-shadow(0px 6px 6px black);
}

.step-box2 {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.box2 {
    /* border: 2px solid lightblue;  */
    border-radius: 8px;
    padding-bottom: -10px;
    display: flex;
    flex-direction: column;
    background-color: var(--cream); 
    cursor: pointer;
    overflow: hidden;
    > p {
        margin: 0;
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.box2:hover {
    box-shadow: 2px 2px 5px gray;
}

.step-box3 {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.newHeader {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.para {
    font-size: 12px;
    margin-top: 5px;
}

.para2 {
    font-size: 12px;
    font-style: italic;
    margin-top: 15px;
    font-weight: bold;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    /* background-color: var(--blue-light); */
    background-image: url("../assets/footer_bg.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    min-height: 300px;
}

.main-footer {
    display: flex;
    justify-content: space-between;   
    align-items: flex-start;          
    flex-wrap: nowrap;                
    padding: 40px;
    background-color: rgba(75, 72, 72, 0.85);
    color: #cfcfcf;
    border-top: 2px solid #a18b0b;
    width: 900px;                     
    max-width: 95%;
    text-align: left;          

}


.footer-column {
    flex: 1;
    margin:0 20px;
}


.image2 {
    filter: blur(2px); 
    opacity: 0.9;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.image2:hover {
    filter: blur(0);
    opacity: 1; 
}


.newsletter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter .input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 60%;
}

.newsletter .subscribe-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #a18b0b;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.highlight {
    color: #a18b0b;
    font-weight: bold;
}

.lastdiv {
    background-color: rgba(75, 72, 72, 0.85);
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
    margin-right: 3px;
}